<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>


  <!-- Formulier voor handmatige locatie-invoer -->
<form (ngSubmit)="onSubmit()" #locationForm="ngForm" class="mb-4 relative">
  <div class="flex items-center gap-2">
    <div class="relative w-full">
      <label for="city" class="sr-only">City:</label>
      <input
        type="text"
        [(ngModel)]="city"
        (input)="onCityInputChange()"
        name="city"
        id="city"
        required
        class="border p-2 rounded w-full"
        placeholder="Enter city name"
        autocomplete="off"
      />
      <!-- Dropdown met stadssuggesties -->
      <ul *ngIf="suggestions.length > 0" class="suggestions-list absolute left-0 right-0 bg-white border border-gray-300 rounded shadow-lg mt-1 z-10">
        <li
          *ngFor="let suggestion of suggestions"
          (click)="selectSuggestion(suggestion)"
          class="suggestion-item px-4 py-2 hover:bg-gray-100 cursor-pointer"
        >
          {{ suggestion }}
        </li>
      </ul>
    </div>

    <button
      type="submit"
      [disabled]="locationForm.invalid"
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
    >
      Set Location
    </button>
  </div>
</form>


<div class="weather-dashboard">
  <h2 class="font-bold">Current Weather</h2>

  <div class="current-weather">
    <div class="left-section">
      <div class="weather-section-item">
        <span class="material-symbols-rounded mr">
          location_on
          </span>      <h3 class="location">
            {{ weatherData?.location?.name }}
          </h3>
          </div>
      <h2 class="temperature">{{ weatherData?.current?.temp_c | number:'1.0-0' }}°</h2>
      <h3 class="condition-description">{{ weatherData?.current?.condition?.text }}</h3>
      <p class="feels-like">Feels like: {{ weatherData?.current?.feelslike_c | number:'1.0-0'  }}°</p>
    </div>

    <div class="right-section">
      <img 
        class="condition-icon"
        [src]="weatherData?.current?.condition?.icon"
        alt="Weather condition"
      />
    </div>
  </div>

  <!-- <div class="weather-details">
    <p class="bg-gray-200 px-3 py-1 rounded-md">Wind: {{ weatherData?.current?.wind_kph }} kph</p>
    <p class="bg-gray-200 px-3 py-1 rounded-md">Chance of Rain: {{ forecastWeatherData?.forecast?.forecastday[0]?.hour[0]?.chance_of_rain }}%</p>
    <p class="bg-gray-200 px-3 py-1 rounded-md">UV Index: {{ weatherData?.current?.uv }}</p>
  </div> -->

  <div class="mb-5 ">
    <div class="flex flex-row gap-9">
      <div class="weather-section-item">
      <span class="material-symbols-rounded">
        air
        </span><span class="mr-2">{{ weatherData?.current.wind_kph | number:'1.0-0' }} km/h</span>
      </div>
      <div class="weather-section-item">
      <span class="material-symbols-rounded mr">
        beach_access
        </span><span class="mr-2">{{ weatherData?.current.precip_mm }} mm</span>
        </div>
        <div class="weather-section-item">
        <span class="material-symbols-rounded">
          water_drop
          </span><span class="mr-2">{{ weatherData?.current.humidity }} %</span>
          </div>
          <div class="weather-section-item">
            <span class="text-sm font-bold">
              UV
              </span><span class="mr-2">{{ weatherData?.current.uv }} %</span>
              </div>
    </div>
    </div>

  <h4>Weather Forecast</h4>

  <div class="forecast">
    <div *ngFor="let hour of forecastData" class="forecast-row">
      <p>{{ hour.time | date:'HH:mm' }}</p>
      <img [src]="hour.condition.icon" alt="Condition icon" />
      <p>{{ hour.temp_c  | number:'1.0-0' }}°</p>
      <p>{{ hour.wind_kph | number:'1.0-0'  }} km/h</p>
      <p>{{ hour.chance_of_rain }}%</p>
    </div>
  </div>
</div>