<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

<div *ngIf="weatherData">
  <h2>Weather for {{ weatherData.location.name }}</h2>
  <p>Temperature: {{ weatherData.current.temp_c }}°C</p>
  <p>Condition: {{ weatherData.current.condition.text }}</p>
</div>

<div *ngIf="forecastData.length">
  <h3>Upcoming 3 Hours </h3>
  <ul>
    <li *ngFor="let hour of forecastData">
      <p>Time: {{ hour.time }}</p>
      <p>Temperature: {{ hour.temp_c }}°C</p>
      <p>Condition: {{ hour.condition.text }}</p>
    </li>
  </ul>
</div>