<div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-4 rounded-lg mb-4">{{ errorMessage }}</div>

<!-- Sport Recommendations -->
<div *ngIf="suggestedSports.length > 0" class="p-8 bg-white rounded-2xl mb-6 max-w-xl sports-card">
  <div>
    <h3 class="mb-4">Your suggested workout:</h3>
    <div class="inline-flex items-center space-x-5 mb-5">
      <div class="w-20 h-20 bg-gray-200 rounded-full justify-center items-center inline-flex">
        <img class="w-11 h-11" src="{{ iconMap[suggestedSports[0].name] || iconMap['Default'] }}">
      </div>
      <h2>{{ suggestedSports[0].name }}</h2>
    </div>
    <h3 class="mb-4">Weather during your workout:</h3>
    
    <div class="bg-gray-200 p-5 mb-5 rounded-2xl">
      <p class="mb-2">{{ weatherData?.current.condition.text }} at {{ weatherData?.current.temp_c }}°</p>
      <div class="flex flex-row gap-1">
        <span class="material-symbols-rounded">
          air
          </span><span class="mr-2">{{ weatherData?.current.wind_kph }} km/h</span>

        <span class="material-symbols-rounded mr">
          beach_access
          </span><span class="mr-2">{{ weatherData?.current.precip_mm }} mm</span>
          <span class="material-symbols-rounded">
            water_drop
            </span><span class="mr-2">{{ weatherData?.current.humidity }} %</span>
      </div>
    </div>
    <h3 class="mb-4">Suggested equipment:</h3>
    <div class="inline-flex space-x-2 items-center justify-center">
      <span *ngFor="let item of suggestedSports[0].equipment" class="suggestedEquipmentCard px-3 py-1 rounded-md">{{ item.item }}</span>
    </div>
  </div>

</div>

<!-- Additional Sport Recommendations -->
<div *ngFor="let sport of suggestedSports.slice(1)" class="p-8 bg-white rounded-2xl mb-6 max-w-xl sports-card">
  <div>
    <div class="inline-flex items-center space-x-5 mb-5">
      <div class="w-20 h-20 bg-gray-200 rounded-full justify-center items-center inline-flex">
        <img class="w-11 h-11" src="{{ iconMap[sport.name] || iconMap['Default'] }}">
      </div>
      <h2 class="text-3xl font-bold">{{ sport.name }}</h2>
    </div>
  
    <h2 class="text-base mb-4">Suggested equipment:</h2>
    <div class="inline-flex space-x-2 items-center justify-center">
      <span *ngFor="let item of sport.equipment" class="bg-gray-200 px-3 py-1 rounded-md">{{ item.item }}</span>
    </div>
  </div>
</div>