.suggestedEquipmentCard {
    background-color: #F1F1F1;
    font-size: 0.85rem;
}

.suggestedEquipmentCardSecondary {
    background-color: #ffffff;
    font-size: 0.85rem;
}

.sports-icon {
    background-color: #F1F1F1;
}

.sports-card {
    max-width: 32.75rem;
}

.sports-card-secondary {
    max-width: 32.75rem;
    
}

.weather-section-item {
    display: flex;
    align-items: center;
    gap: 0.45rem; 
}

.sports-card-secondary h2 {
    font-size: 1.55rem;
}

.sports-card-weather-section {
    background-color: #F1F1F1;
}

.sports-card-secondary-item {
    background-color: #F1F1F1;
}

