.events-card {
  position: relative;
  max-width: 690px;
}

.event-detail {
  position: relative;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  color: #007bff;
  cursor: pointer;
  z-index: 1;
}

.carousel-arrow:hover {
  color: #0056b3;
}

.carousel-arrow:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.carousel-arrow-prev {
  left: -30px; /* Adjust based on your design needs */
}

.carousel-arrow-next {
  right: -30px; /* Adjust based on your design needs */
}

.sports-card-secondary-item {
  /* background-color: #f5f4f7; */
}

.weather-section-item {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
}

h4 {
  margin-bottom: 14px;
}