<div class="p-6 bg-white rounded-2xl events-card mb-12">
  <!-- Error Message Section -->
  <div *ngIf="errorMessage" class="error" role="alert">
    {{ errorMessage }}
  </div>

  <!-- Event Details Section -->
  <div *ngIf="events.length > 0; else noEvents" class="event-detail">
    <h4 class="mb-4">Upcoming events</h4>

    <div class="mx-8 mt-6">

      <div class="inline-flex gap-x-3 items-center">
        <h3>{{ currentEvent?.title || "N/A" }}</h3>
        <span class="suggestedEquipmentCard px-2 py-0.5 rounded-md whitespace-nowrap">{{
          formatLabel(currentEvent?.labels?.[0])
          }} event</span>
      </div>
      <div class="p6 gap-y-5 rounded-2xl flex-col flex sports-card-secondary-item mb-5">

        <div class="weather-section-item">
          <span>
            {{ currentEvent?.geo?.address?.locality }}
          </span> <span>
            • {{ currentEvent?.start | date : "fullDate" }}
          </span>
        </div>
          <button (click)="previousEvent()" [disabled]="currentEventIndex === 0"
            class="carousel-arrow carousel-arrow-prev">
            <span class="material-symbols-rounded">arrow_back_ios_new</span>
          </button>
          <button (click)="nextEvent()" [disabled]="currentEventIndex === events.length - 1"
            class="carousel-arrow carousel-arrow-next">
            <span class="material-symbols-rounded">arrow_forward_ios</span>
          </button>

      </div>

      <button type="button" (click)="openGoogleMaps()"
        class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-700 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 w-auto">View location</button>


    </div>
  </div>

  <!-- No Events Found Section -->
  <ng-template #noEvents>
    <p>
      No marathons found near your location. Try adjusting your location
      settings or check back later.
    </p>
  </ng-template>
</div>