.events-card {
  position: relative;
  max-width: 690px;
  box-shadow: rgb(17 12 46 / 6%) 0px 48px 100px 0px;
}

.event-detail {
  position: relative;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2em;
  color: #282828;
  cursor: pointer;
  z-index: 1;
}

.suggestedEquipmentCard {
  border: solid;
  border-width: 1px;
  border-color: gainsboro;
  color: #3f3f3f;
  font-size: 0.85rem;
}

.carousel-arrow:hover {
  color: #675cff;
}

.carousel-arrow:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.carousel-arrow-prev {
  left: -8px; 
}

.carousel-arrow-next {
  right: -8px;
}

.sports-card-secondary-item {
  /* background-color: #f5f4f7; */
}

.weather-section-item {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
}

h4 {
  margin-bottom: 14px;
}