.event-dashboard {
  background: #f9f9f9;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.events-card {
  max-width: 690px;
}

.sports-card-secondary-item {
  /* background-color: #F1F1F1; */
}

.weather-section-item {
  display: flex;
  align-items: center;
  gap: 0.25rem; 
}

h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.event-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #007bff;
}

.event-card p {
  margin: 5px 0;
  font-size: 1em;
  color: #555;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.nav-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #0056b3;
}

.nav-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.7;
}